<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Preços</font>
    </font>
  </h1>
  <p class="lead justify-content-md-center">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Crie rapidamente uma tabela de preços eficaz para seus clientes em potencial com este exemplo do Bootstrap. </font>
      <font
        style="vertical-align: inherit;">É construído com componentes padrão do Bootstrap e utilitários com pouca customização.</font>
    </font>
  </p>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Livre</font>
          </font>
        </h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">US $ 0 </font>
          </font>
          <small class="text-muted">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">/ mês</font>
            </font>
          </small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">10 usuários incluídos</font>
            </font>
          </li>
          <li>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">2 GB de armazenamento</font>
            </font>
          </li>
          <li>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Suporte por email</font>
            </font>
          </li>
          <li>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Acesso ao centro de ajuda</font>
            </font>
          </li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Cadastre-se gratuitamente</font>
          </font>
        </button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Pró</font>
          </font>
        </h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">US $ 15 </font>
          </font>
          <small class="text-muted">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">/ mês</font>
            </font>
          </small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">20 usuários incluídos</font>
            </font>
          </li>
          <li>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">10 GB de armazenamento</font>
            </font>
          </li>
          <li>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Suporte por email prioritário</font>
            </font>
          </li>
          <li>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Acesso ao centro de ajuda</font>
            </font>
          </li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">iniciar</font>
          </font>
        </button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Empreendimento</font>
          </font>
        </h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">US $ 29 </font>
          </font>
          <small class="text-muted">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">/ mês</font>
            </font>
          </small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">30 usuários incluídos</font>
            </font>
          </li>
          <li>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">15 GB de armazenamento</font>
            </font>
          </li>
          <li>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Suporte por telefone e email</font>
            </font>
          </li>
          <li>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Acesso ao centro de ajuda</font>
            </font>
          </li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Contate-Nos</font>
          </font>
        </button>
      </div>
    </div>
  </div>