.select-style {
    padding-bottom: 2%;
}
.title {
    color: #17a2b8;
}
.form-solicitation {
    width: 100%;
}
.alert-cpf-invalid {
    color: #FF0000;
    padding-top: 2%;
    font-size: 13px;
    padding-left: 1%;
}

.input-cpf-invalid {
    border-color: #FF0000;
    color:#FF0000;
}